In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

## Part 1: Import the Housing data and do feature transformations

In [2]:
df= pd.read_csv('house_price_full.csv')
df.head()

   bedrooms  sqft_living    price
0         3         1340   313000
1         5         3650  2384000
2         3         1930   342000
3         3         2000   420000
4         4         1940   550000

In [3]:
X = df.copy()
# Remove target
Y = X.pop('price')

# perform a scaler transform of the input data
scaler = StandardScaler()
X = scaler.fit_transform(X)

# perform log transformation of target variable (For Sandeep: Is this needed?)
Y = np.log(Y)

In [4]:
df_scaled = pd.DataFrame(X)
df_scaled

            0         1
0   -0.433198 -0.753258
1    1.675735  1.457330
2   -0.433198 -0.188649
3   -0.433198 -0.121661
4    0.621269 -0.179079
..        ...       ...
494  0.621269  0.873582
495  1.675735  2.299459
496 -0.433198 -0.724549
497 -0.433198 -0.179079
498 -0.433198 -1.040347

[499 rows x 2 columns]

In [5]:
Y

0      12.653958
1      14.684290
2      12.742566
3      12.948010
4      13.217674
         ...
494    13.380102
495    13.764217
496    12.128111
497    12.721886
498    12.254863
Name: price, Length: 499, dtype: float64

## Part 2: Create Model Using `keras`

![](multiple_neurons.png)

In [6]:
from tensorflow import keras

In [7]:
model = keras.Sequential(
    [
        keras.layers.Dense(
            2, activation="sigmoid", input_shape=(X.shape[-1],)
        ),
        keras.layers.Dense(1, activation="linear")
    ]
)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2)                 6

 dense_1 (Dense)             (None, 1)                 3

=================================================================
Total params: 9
Trainable params: 9
Non-trainable params: 0
_________________________________________________________________

```python
def random_init_params():
    w1 = tf.Variable(tf.random.uniform((2, 2)))
    b1 = tf.Variable(tf.random.uniform((1, 2)))
    w2 = tf.Variable(tf.random.uniform((2, 1)))
    b2 = tf.Variable(tf.random.uniform((1, 1)))
    return w1,b1,w2,b2


def forward_prop(x, w1, b1, w2, b2):
    z1 = tf.matmul(x,w1) + b1
    h1 = tf.math.sigmoid(z1)
    z2 = tf.matmul(h1,w2) + b2
    h2 = z2
    return h2
```

In [8]:
model.compile(
    optimizer=keras.optimizers.SGD(), loss="mean_squared_error"
)

```python
def train(x, y, w1, b1, w2, b2):
    y_true = y
    with tf.GradientTape() as g:
        y_pred = forward_prop(x, w1, b1, w2, b2)

        # loss
        loss = 0.5*(y_true - y_pred)** 2
    
    #Gradient calculation  
    print("**************************************************")
    print("GRADIENTS")
    print("**************************************************")
    gw1, gb1, gw2, gb2 = g.gradient(loss, [w1, b1, w2, b2])
    print(" the gradient for 1st layer weights are:\n",gw1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer weights are:\n",gw2.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 1st layer bias are:\n",gb1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer bias are:\n",gb2.numpy())
    print("--------------------------------------------------")

    # Gradient descent:
    lr=0.2
    w1.assign_sub(lr*gw1)
    b1.assign_sub(lr*gb1) 
    w2.assign_sub(lr*gw2)
    b2.assign_sub(lr*gb2)
    print("**************************************************")
    print("NEW UPDATES")
    print("**************************************************")
    print(" the updated 1st layer weights are:\n",w1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer weights are:\n",w2.numpy())
    print("--------------------------------------------------")
    print(" the updated 1st layer bias are:\n",b1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer bias are:\n",b2.numpy())


    return w1, b1, w2, b2,loss

```

In [9]:
model.fit(X,Y.values,epochs=10,batch_size=32)

Epoch 1/10
16/16 [==============================] - 1s 5ms/step - loss: 123.1148
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 40.3361
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 9.2468
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 1.8343
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 0.4690
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 0.2295
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 0.1867
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 0.1760
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 0.1711
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 0.1676

In [10]:
model.predict(X)[:,0]

16/16 [==============================] - 0s 3ms/step

array([12.908621 , 13.515926 , 13.022963 , 13.035246 , 13.1371   ,
       12.646327 , 12.73178  , 13.284498 , 13.104382 , 13.043293 ,
       12.982542 , 13.318774 , 13.089285 , 12.854776 , 13.390846 ,
       12.878833 , 12.955423 , 13.347551 , 12.91488  , 12.8745   ,
       13.075188 , 13.026835 , 12.990093 , 13.287873 , 13.061825 ,
       13.050621 , 13.093877 , 13.19059  , 13.373501 , 13.128664 ,
       13.052596 , 13.309246 , 13.111198 , 13.302774 , 13.41554  ,
       13.204485 , 12.630671 , 13.008581 , 13.028261 , 13.098415 ,
       12.957396 , 13.0339155, 12.6404915, 12.993835 , 12.707546 ,
       12.87015  , 13.030016 , 13.022963 , 12.893846 , 13.375556 ,
       13.284498 , 13.168453 , 13.143446 , 12.999407 , 13.244167 ,
       13.132834 , 13.188601 , 13.517403 , 12.904425 , 12.776941 ,
       13.375556 , 13.139486 , 13.287873 , 13.120293 , 13.318774 ,
       12.650193 , 12.97105  , 12.836937 , 12.904463 , 13.068766 ,
       13.253063 , 13.161203 , 13.206301 , 13.017612 , 12.906525 ,
       12.718063 , 13.184607 , 13.287873 , 13.174523 , 13.11315  ,
       13.147669 , 13.422386 , 12.8913555, 12.999407 , 13.21785  ,
       12.843586 , 12.69503  , 12.937435 , 12.741834 , 12.705774 ,
       13.440115 , 13.06225  , 13.412405 , 13.092353 , 12.953445 ,
       13.3577   , 12.976822 , 13.424156 , 12.923153 , 13.565548 ,
       13.357619 , 13.036978 , 12.906525 , 13.223547 , 13.156374 ,
       13.317201 , 13.164303 , 13.483892 , 12.638536 , 12.976183 ,
       13.012556 , 13.212101 , 12.845892 , 13.318745 , 13.151859 ,
       12.968958 , 13.073591 , 12.632645 , 13.44186  , 12.974903 ,
       13.143457 , 12.931345 , 13.892557 , 13.014017 , 13.014017 ,
       12.923153 , 13.0339155, 12.69503  , 13.021185 , 13.317201 ,
       13.204485 , 12.951464 , 13.207012 , 12.856887 , 12.79781  ,
       13.210173 , 12.999407 , 13.151859 , 12.997556 , 13.236641 ,
       13.0247345, 12.698633 , 13.387398 , 13.489922 , 12.955622 ,
       12.965231 , 12.922741 , 13.18342  , 13.620762 , 12.770765 ,
       13.238489 , 13.024467 , 12.687763 , 12.910713 , 13.18059  ,
       12.939455 , 13.035246 , 12.674845 , 12.614716 , 13.199905 ,
       12.957396 , 13.17249  , 12.990845 , 12.967176 , 13.383503 ,
       13.126398 , 13.043293 , 12.650193 , 12.845892 , 12.891716 ,
       13.523239 , 13.2082405, 13.301142 , 12.97105  , 12.969116 ,
       13.008581 , 13.149767 , 12.923153 , 13.038613 , 13.108793 ,
       12.836937 , 12.711073 , 13.216131 , 13.250991 , 13.238489 ,
       13.34609  , 13.162243 , 13.008581 , 13.115566 , 13.427936 ,
       12.925209 , 12.94348  , 13.0573015, 13.398771 , 12.967176 ,
       12.997556 , 13.149767 , 13.202408 , 13.335693 , 12.902319 ,
       13.442736 , 13.430117 , 13.415089 , 13.390846 , 13.175487 ,
       12.781509 , 13.360443 , 13.27939  , 12.885296 , 13.289553 ,
       13.384808 , 12.859191 , 13.146499 , 13.017612 , 12.655956 ,
       12.978733 , 12.925209 , 13.622803 , 13.031765 , 12.700426 ,
       13.068766 , 12.788822 , 12.937435 , 13.387032 , 13.140812 ,
       13.408371 , 12.893846 , 13.620762 , 13.337196 , 12.872328 ,
       13.209372 , 12.832434 , 13.234787 , 13.492815 , 12.88958  ,
       12.949475 , 12.961325 , 12.859191 , 13.006758 , 13.117454 ,
       13.139486 , 13.519976 , 13.231064 , 13.089052 , 13.047245 ,
       12.991968 , 12.976822 , 12.764498 , 13.270042 , 13.113384 ,
       12.921093 , 13.012211 , 13.897179 , 12.676704 , 13.1447525,
       12.836937 , 12.957396 , 13.265512 , 13.021185 , 13.092353 ,
       12.414974 , 13.2494545, 13.204485 , 13.108793 , 12.671106 ,
       12.634613 , 13.290953 , 12.993835 , 12.73178  , 13.028261 ,
       13.374885 , 12.892332 , 13.580501 , 13.212101 , 13.073254 ,
       13.274229 , 13.126398 , 13.067146 , 13.040424 , 13.079941 ,
       12.96328  , 12.622729 , 12.778469 , 12.967176 , 13.53977  ,
       13.17433  , 13.0247345, 12.923153 , 12.84366  , 12.634613 ,
       12.652119 , 13.564941 , 13.186606 , 12.961325 , 12.941469 ,
       12.908621 , 13.010399 , 13.120293 , 12.676704 , 12.916956 ,
       12.969116 , 13.407732 , 13.178574 , 12.991968 , 12.97298  ,
       13.004929 , 13.192574 , 13.036267 , 12.891716 , 13.596968 ,
       13.444761 , 12.696835 , 13.275265 , 13.288777 , 12.962498 ,
       12.634613 , 12.762917 , 13.050621 , 13.436609 , 13.0912895,
       12.974903 , 13.256649 , 13.415089 , 12.88958  , 13.153948 ,
       13.275955 , 12.6654625, 13.028261 , 12.614716 , 12.733469 ,
       12.811998 , 13.176551 , 13.109006 , 12.854523 , 12.978733 ,
       13.0247345, 13.214024 , 13.162243 , 13.388684 , 13.200452 ,
       12.919027 , 12.680412 , 12.939455 , 13.243998 , 13.295288 ,
       13.075188 , 13.021185 , 13.015818 , 13.200452 , 12.718063 ,
       12.6616745, 13.372862 , 13.149767 , 12.672977 , 13.115566 ,
       13.031765 , 13.530643 , 12.711073 , 13.206301 , 13.104382 ,
       13.169641 , 13.206301 , 12.94348  , 12.823376 , 12.876669 ,
       12.902319 , 13.369585 , 12.990093 , 12.904425 , 13.24033  ,
       12.887441 , 12.891716 , 13.390472 , 13.436525 , 12.949475 ,
       12.764498 , 12.93338  , 12.919027 , 13.134123 , 12.959362 ,
       13.130693 , 13.037842 , 12.923153 , 12.689588 , 12.642441 ,
       13.086193 , 12.672977 , 12.6654625, 13.475067 , 12.969116 ,
       13.435471 , 13.297861 , 13.095749 , 13.022093 , 13.008581 ,
       12.6616745, 13.111704 , 13.429029 , 13.265512 , 12.919027 ,
       13.202408 , 13.2421665, 12.632645 , 13.073254 , 13.178923 ,
       12.614716 , 12.919027 , 12.930326 , 12.807806 , 13.0522995,
       12.84812  , 12.941469 , 13.143457 , 12.923153 , 13.425733 ,
       13.188601 , 13.021185 , 12.87015  , 13.548132 , 13.149767 ,
       13.183203 , 13.489962 , 13.306022 , 12.696835 , 13.34609  ,
       12.925209 , 13.234787 , 13.13497  , 12.97298  , 12.921093 ,
       13.275955 , 13.149767 , 13.176551 , 12.91113  , 12.990093 ,
       13.268961 , 12.74349  , 13.1371   , 12.923153 , 12.912799 ,
       12.883146 , 13.304401 , 13.432276 , 13.215939 , 13.233332 ,
       13.031561 , 13.340185 , 12.841423 , 13.13497  , 12.995699 ,
       13.035246 , 12.978733 , 13.68054  , 12.9002075, 13.229193 ,
       12.696835 , 13.212101 , 13.287873 , 13.306022 , 12.672977 ,
       12.908621 , 13.404888 , 13.742947 , 12.834236 , 13.418733 ,
       13.0573015, 13.251261 , 13.1371   , 12.910713 , 13.1826   ,
       12.91488  , 13.539677 , 13.304401 , 13.036978 , 13.37421  ,
       12.711073 , 12.984439 , 12.372122 , 12.953445 , 13.123106 ,
       13.508515 , 12.709312 , 13.515926 , 13.063889 , 13.254858 ,
       12.652119 , 13.328091 , 13.174523 , 13.395031 , 13.303892 ,
       13.068766 , 13.0912895, 13.169641 , 12.832434 , 13.337196 ,
       13.624821 , 12.91488  , 13.0247345, 12.84366  ], dtype=float32)